#img-div{
	position: relative;
	display: inline-block;
	height: 100%;
	width: 55%;
}
#img-div img{
	height: 100%;
	width: 100%;
	padding-left: 5%;
	max-width: 850px;
}
#mid-right{
	width: 35%;
	position: relative;
	top: -70%;
	padding-left: 2%;
	display: inline-block;
	clear: right;
	font-size: 20px;
	height: 100%;
}
#right1{
	position: relative;
	margin-bottom: 15%;
}
#contact{
	padding-left: 7%;
	margin-bottom: 10%; 
	font-size: 30px;
}
.right1-div{
	padding: 1.2%;
	padding-left: 10%;
}
.right1-span{
	position: relative;
	top: -1%;
	padding-left: 4%;
}
.fa-map-marker{
	color: red;
}
.fa-whatsapp{
	color: green;
}
#gmail{
	height: 40px;
	width: 40px;
}
#right2{
	position: relative;
	top: 0;
}
#connect{
	font-size: 30px;
	padding-left: 15%;
}
.col1{
	padding-left: 25%;
	padding-top: 8%;
}
.col2{
	padding-left: 40%;
	padding-top: 8%;
}
#facebook{
	height: 70px;
	width: 70px;
}
#codeforce{
	height: 100px;
	width: 200px;
}
#github{
	height: 70px;
	width: 70px;
}
#linkedin{
	height: 70px;
	width: 70px;
}
@media only screen and (max-width: 1390px){
	#img-div{
		height: 75%;
		width: 80%;
		padding-left: 17%;
	}
	#mid-right{
		top: 75%;
		width: 100%;
		height: 100%;
		padding-left: 15%;
		margin-right: 25%;
	}
	#right1{
		position: relative;
		top: -55%;
		float: left;
	}
	#right2{
		position: relative;
		top: -60%;
		float: left;
	}
}
@media only screen and (max-width: 940px){
	#icon{
		display: inline-block;
	}
	.top-right-section{
		display: none;
		float: none;
		right: -30%;
		top: 100%;
		font-size: 20px;
		background-color: rgba(51,51,51,1);
	}
	#top-left{
		width: 60%;
	}
	#top-right{
		width: 40%;
	}
	#img-div{
		height: 70%;
		width: 80%;
		padding-left: 7%;
	}
	#mid-right{
		top: 75%;
		width: 100%;
		height: 100%;
		padding-left: 4%;
	}
	#right1{
		position: relative;
		width: 80%;
		margin: 0 auto;
		top: -60%;
	}
	#right2{
		position: relative;
		width: 80%;
		margin: 0 auto;
		top: -50%;
	}
}
@media only screen and (max-width: 415px){
	header{
		height: 100px;
	}
	#mid-right{
		top: 75%;
		width: 100%;
		height: 100%;
		padding-left: 0%;
	}
	#contact{
		padding-left: 0%;
		margin-bottom: 10%; 
		font-size: 30px;
	}
	#connect{
		font-size: 30px;
		padding-left: 0%;
	}
}